@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the demonstration of Dev Ops. Including GIT and azure DevOps (First Description)</p>
    
</div>
